Repository freedeaths/FIRE-Balance: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-prettier, typescript-eslint, typescript-type-check

.pre-commit-config.yaml:

repos:
  # Built-in pre-commit hooks for all file types
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: mixed-line-ending

  # Python-specific hooks (for implementations/python/)
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --in-place
        files: ^implementations/python/
        exclude: __pycache__

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
        files: ^implementations/python/

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.12
        files: ^implementations/python/

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]
        files: ^implementations/python/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.0
    hooks:
      - id: mypy
        files: ^implementations/python/
        additional_dependencies:
          - pydantic >= 2.11.0
          - pandas >= 2.3.0
          - numpy >= 2.3.0
          - types-python-dateutil
          - pytest >= 8.4.0
          - types-requests
        args:
          - --config-file=implementations/python/pyproject.toml
          - --python-version=3.12


  # TypeScript-specific hooks (for implementations/typescript/)
  # Using local hook to ensure version consistency with package.json

  - repo: local
    hooks:
      - id: typescript-prettier
        name: Prettier (TypeScript)
        entry: implementations/typescript/node_modules/.bin/prettier
        args: [--write]
        language: system
        files: ^implementations/typescript/.*\.(ts|tsx|js|jsx|json|yaml|yml|md)$
        pass_filenames: true

      - id: typescript-eslint
        name: ESLint (TypeScript)
        entry: bash -c 'cd implementations/typescript && npm run lint || echo "ESLint warnings ignored"'
        language: system
        files: ^implementations/typescript/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typescript-type-check
        name: TypeScript Type Check
        entry: bash -c 'cd implementations/typescript && npm run type-check'
        language: system
        files: ^implementations/typescript/src/.*\.(ts|tsx)$
        pass_filenames: false

      # TypeScript Tests are disabled in pre-commit due to async Jest hanging issues
      # Tests are handled by GitHub Actions instead
      # - id: typescript-test
      #   name: TypeScript Tests
      #   entry: bash -c 'cd implementations/typescript && export CI=true && npm run test:debug'
      #   language: system
      #   always_run: true
      #   pass_filenames: false
      #   verbose: true

fix ci
  .github/workflows/deploy-typescript.yml
  .pre-commit-config.yaml
Due: none

modify ci
  .github/workflows/deploy-typescript.yml
  .github/workflows/typescript-checks.yml
Due: none

modify ci
  .github/workflows/deploy-typescript.yml
Due: none

enhance i18n , add github link
  implementations/typescript/src/components/layout/Layout.tsx
  implementations/typescript/src/components/tables/Stage2FinancialTable.tsx
  shared/i18n/en.json
  shared/i18n/ja.json
  shared/i18n/zh-CN.json
Due: typescript-prettier, typescript-eslint, typescript-type-check

enhance i18n , add github link (#15)
  implementations/typescript/src/components/layout/Layout.tsx
  implementations/typescript/src/components/tables/Stage2FinancialTable.tsx
  shared/i18n/en.json
  shared/i18n/ja.json
  shared/i18n/zh-CN.json
Due: typescript-prettier, typescript-eslint, typescript-type-check

try to fix pwa
  implementations/typescript/src/components/common/PWAInstallButton.tsx
  implementations/typescript/vite.config.ts
Due: typescript-prettier, typescript-eslint, typescript-type-check

add icon
  implementations/typescript/public/apple-touch-icon.png
  implementations/typescript/public/favicon-32x32.png
  implementations/typescript/public/pwa-192x192.png
  implementations/typescript/public/pwa-512x512.png
  implementations/typescript/vite.config.ts
Due: typescript-prettier

try to fix pwa (#16)
  implementations/typescript/public/apple-touch-icon.png
  implementations/typescript/public/favicon-32x32.png
  implementations/typescript/public/pwa-192x192.png
  implementations/typescript/public/pwa-512x512.png
  implementations/typescript/src/components/common/PWAInstallButton.tsx
  implementations/typescript/vite.config.ts
Due: typescript-prettier, typescript-eslint, typescript-type-check

fix pwa orientation
  implementations/typescript/vite.config.ts
Due: typescript-prettier

fix pwa orientation (#17)
  implementations/typescript/vite.config.ts
Due: typescript-prettier

enhance usage docs and convert them to html which will be cached
  docs/usage_cn.md
  docs/usage_en.md
  docs/usage_ja.md
  implementations/typescript/package-lock.json
  implementations/typescript/package.json
  implementations/typescript/src/components/layout/Layout.tsx
  implementations/typescript/vite.config.ts
Due: typescript-prettier, typescript-eslint, typescript-type-check

enhance usage docs and convert them to html which will be cached (#20)
  docs/usage_cn.md
  docs/usage_en.md
  docs/usage_ja.md
  implementations/typescript/package-lock.json
  implementations/typescript/package.json
  implementations/typescript/src/components/layout/Layout.tsx
  implementations/typescript/vite.config.ts
Due: typescript-prettier, typescript-eslint, typescript-type-check

feat: bridge safety buffer, plan-year age, and stronger validation
  README.md
  README_ja.md
  README_zh.md
  implementations/python/core/black_swan_events.py
  implementations/python/core/data_models.py
  implementations/python/core/engine.py
  implementations/python/core/monte_carlo.py
  implementations/python/streamlit_ui/ui/stage3_analysis.py
  implementations/python/streamlit_ui/utils/html_report_generator.py
  implementations/python/tests/test_black_swan_events.py
  implementations/python/tests/test_engine.py
  implementations/python/tests/test_monte_carlo_advanced.py
  implementations/typescript/src/components/charts/IncomeExpenseBreakdownChart.tsx
  implementations/typescript/src/components/charts/NetWorthTrajectoryChart.tsx
  implementations/typescript/src/components/common/ImportExportControls.tsx
  implementations/typescript/src/components/common/StageNavigation.tsx
  implementations/typescript/src/components/contents/Stage1Content.tsx
  implementations/typescript/src/components/contents/Stage3Content.tsx
  implementations/typescript/src/components/forms/IncomeExpenseForm.tsx
  implementations/typescript/src/components/tables/Stage2FinancialTable.tsx
  implementations/typescript/src/core/__tests__/black_swan_events.test.ts
  implementations/typescript/src/core/__tests__/data-models.test.ts
  implementations/typescript/src/core/__tests__/engine.test.ts
  implementations/typescript/src/core/__tests__/monte_carlo.test.ts
  implementations/typescript/src/core/__tests__/planner_models.test.ts
  implementations/typescript/src/core/advisor.ts
  implementations/typescript/src/core/black_swan_events.ts
  implementations/typescript/src/core/data_models.ts
  implementations/typescript/src/core/engine.ts
  implementations/typescript/src/core/monte_carlo.ts
  implementations/typescript/src/core/planner.ts
  implementations/typescript/src/core/planner_models.ts
  implementations/typescript/src/core/portfolio.ts
  implementations/typescript/src/services/fireCalculationService.ts
  implementations/typescript/src/stores/plannerStore.ts
  implementations/typescript/src/types/index.ts
  implementations/typescript/vite.config.ts
  shared/i18n/en.json
  shared/i18n/ja.json
  shared/i18n/zh-CN.json
Due: typescript-prettier, typescript-eslint, typescript-type-check

feat(ts): bridge safety buffer and MC status timeline
  implementations/typescript/src/components/charts/MonteCarloStatusTimelineChart.tsx
  implementations/typescript/src/components/charts/NetWorthTrajectoryChart.tsx
  implementations/typescript/src/components/contents/Stage3Content.tsx
  implementations/typescript/src/core/__tests__/safety_buffer.test.ts
  implementations/typescript/src/core/engine.ts
  implementations/typescript/src/core/index.ts
  implementations/typescript/src/core/monte_carlo.ts
  implementations/typescript/src/core/planner.ts
  implementations/typescript/src/core/planner_models.ts
  implementations/typescript/src/core/safety_buffer.ts
  implementations/typescript/src/services/fireCalculationService.ts
  implementations/typescript/src/types/index.ts
  shared/i18n/en.json
  shared/i18n/ja.json
  shared/i18n/zh-CN.json
Due: typescript-prettier, typescript-eslint, typescript-type-check

fix(ts): handle nullable yearly fields in feasibility
  implementations/typescript/src/components/contents/Stage3Content.tsx
Due: typescript-prettier, typescript-eslint, typescript-type-check

feat(stage3): add CSV exports
  implementations/typescript/src/components/contents/Stage3Content.tsx
  implementations/typescript/src/utils/csv.ts
  shared/i18n/en.json
  shared/i18n/ja.json
  shared/i18n/zh-CN.json
Due: typescript-prettier, typescript-eslint, typescript-type-check

fix ci
  implementations/typescript/src/components/contents/Stage3Content.tsx
Due: typescript-prettier, typescript-eslint, typescript-type-check

feat(stage3): add CSV exports (#22)
  implementations/typescript/src/components/contents/Stage3Content.tsx
  implementations/typescript/src/utils/csv.ts
  shared/i18n/en.json
  shared/i18n/ja.json
  shared/i18n/zh-CN.json
Due: typescript-prettier, typescript-eslint, typescript-type-check

fix(stage2): prevent double overrides; improve breakdown UX
  implementations/typescript/.prettierignore
  implementations/typescript/src/components/charts/IncomeExpenseBreakdownChart.tsx
  implementations/typescript/src/components/forms/IncomeExpenseForm.tsx
  implementations/typescript/src/components/tables/Stage2FinancialTable.tsx
  implementations/typescript/src/services/fireCalculationService.ts
  shared/i18n/en.json
  shared/i18n/ja.json
  shared/i18n/zh-CN.json
Due: typescript-prettier, typescript-eslint, typescript-type-check

fix(stage2): prevent double overrides; improve breakdown UX (#23)
  implementations/typescript/.prettierignore
  implementations/typescript/src/components/charts/IncomeExpenseBreakdownChart.tsx
  implementations/typescript/src/components/forms/IncomeExpenseForm.tsx
  implementations/typescript/src/components/tables/Stage2FinancialTable.tsx
  implementations/typescript/src/services/fireCalculationService.ts
  shared/i18n/en.json
  shared/i18n/ja.json
  shared/i18n/zh-CN.json
Due: typescript-prettier, typescript-eslint, typescript-type-check

feat(ts): add interval-based items and Stage2 column override reset
  AGENTS.md
  README.md
  README_ja.md
  README_zh.md
  implementations/python/README.md
  implementations/typescript/src/components/charts/IncomeExpenseBreakdownChart.tsx
  implementations/typescript/src/components/contents/Stage1Content.tsx
  implementations/typescript/src/components/forms/IncomeExpenseForm.tsx
  implementations/typescript/src/components/tables/Stage2FinancialTable.tsx
  implementations/typescript/src/core/planner.ts
  implementations/typescript/src/stores/plannerStore.ts
  implementations/typescript/src/stores/types.ts
  implementations/typescript/src/types/ui.ts
  implementations/typescript/src/utils/projection.ts
  implementations/typescript/src/utils/validation.ts
  shared/i18n/en.json
  shared/i18n/ja.json
  shared/i18n/zh-CN.json
Due: typescript-prettier, typescript-eslint, typescript-type-check

fix(ts): restore DEFAULT_USER_PROFILE import
  implementations/typescript/src/components/contents/Stage1Content.tsx
Due: typescript-prettier, typescript-eslint, typescript-type-check

feat(stage1): phase ranges + optional healthy age
  README.md
  README_ja.md
  README_zh.md
  docs/usage_cn.md
  docs/usage_en.md
  docs/usage_ja.md
  implementations/typescript/src/components/charts/IncomeExpenseBreakdownChart.tsx
  implementations/typescript/src/components/charts/NetWorthTrajectoryChart.tsx
  implementations/typescript/src/components/common/ImportExportControls.tsx
  implementations/typescript/src/components/common/StageNavigation.tsx
  implementations/typescript/src/components/contents/Stage1Content.tsx
  implementations/typescript/src/components/forms/FormField.tsx
  implementations/typescript/src/components/forms/IncomeExpenseForm.tsx
  implementations/typescript/src/components/layout/Layout.tsx
  implementations/typescript/src/core/data_models.ts
  implementations/typescript/src/stores/plannerStore.ts
  implementations/typescript/src/stores/types.ts
  implementations/typescript/src/types/index.ts
  implementations/typescript/src/types/ui.ts
  shared/i18n/en.json
  shared/i18n/ja.json
  shared/i18n/zh-CN.json
Due: typescript-prettier, typescript-eslint, typescript-type-check

chore(pre-commit): run tsc -b and real type-check
  .pre-commit-config.yaml
  implementations/typescript/package.json
  implementations/typescript/src/components/forms/IncomeExpenseForm.tsx
Due: typescript-prettier, typescript-eslint, typescript-type-check

docs(core): add math spec; align safety buffer fallbacks
  docs/math_cn.md
  docs/usage_cn.md
  implementations/typescript/src/components/common/StageNavigation.tsx
  implementations/typescript/src/components/contents/Stage3Content.tsx
  implementations/typescript/src/core/__tests__/safety_buffer.test.ts
  implementations/typescript/src/core/data_models.ts
  implementations/typescript/src/core/engine.ts
  implementations/typescript/src/core/planner_models.ts
  implementations/typescript/src/core/portfolio.ts
  implementations/typescript/src/core/safety_buffer.ts
  implementations/typescript/src/services/fireCalculationService.ts
Due: typescript-prettier, typescript-eslint, typescript-type-check

docs: make math_cn KaTeX-compatible
  docs/math_cn.md
Due: none

docs: fix KaTeX escapes in math_cn
  docs/math_cn.md
Due: none

docs: KaTeX-harden math_cn formulas
  docs/math_cn.md
Due: none

docs: avoid # in KaTeX math
  docs/math_cn.md
Due: none

fix: resolve math doc vs code inconsistencies
  implementations/typescript/src/core/__tests__/engine.test.ts
  implementations/typescript/src/core/__tests__/planner.test.ts
  implementations/typescript/src/core/__tests__/planner_models.test.ts
  implementations/typescript/src/core/advisor.ts
  implementations/typescript/src/core/engine.ts
  implementations/typescript/src/core/monte_carlo.ts
  implementations/typescript/src/core/planner.ts
  implementations/typescript/src/core/planner_models.ts
  implementations/typescript/src/core/portfolio.ts
  implementations/typescript/src/services/fireCalculationService.ts
Due: typescript-prettier, typescript-eslint, typescript-type-check

add ko-fi sponsers
  .github/FUNDING.yml
Due: none

Add custom sponsorship URL to FUNDING.yml
  .github/FUNDING.yml
Due: none

mv df to data in ts
  implementations/typescript/src/core/__tests__/monte_carlo.test.ts
  implementations/typescript/src/core/advisor.ts
Due: typescript-prettier, typescript-eslint, typescript-type-check

feat: add sponsor footer links
  .github/workflows/deploy-typescript.yml
  implementations/typescript/DEPLOYMENT.md
  implementations/typescript/src/components/layout/Layout.tsx
  implementations/typescript/src/vite-env.d.ts
  shared/i18n/en.json
  shared/i18n/ja.json
  shared/i18n/zh-CN.json
Due: typescript-prettier, typescript-eslint, typescript-type-check

add demo
  shared/examples/demo.md
  shared/examples/fire-plan-demo-d.json
  shared/examples/fire-plan-demo-s.json
Due: none
